version: "3"
services:
  web-server:
    build: .
    ports:
      - 4200:4200
    volumes:
      - .:/app
    command: 
      - bash
      - -c
      - |
        if [ ! -f './node_modules/docker_init' ]; then
          npm install --no-bin-links
          touch node_modules/docker_init
        fi
        npx ng serve --host 0.0.0.0 --port 4200
