:host {
    margin-bottom: 2px;
    display: block;
}
div.title {
    color:white;
    cursor: pointer;
    background-color: #383838;
    margin: 0;
    padding: 2px 8px;
    font-size:14px;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    span {
        flex-grow: 1;
    }
    .panel-info {
        color:#C8C8C8;
        font-style: italic;
        font-size: 0.9em;
        padding-right: 4px;
    }
}

.panel {
    transition: max-height 200ms;
}
.ng-animating {
    overflow: hidden;
}