:host {
    display: block;
    height: 100%;
}


* {
    box-sizing: border-box;
}
.footer {
    position: fixed;
    left:0;
    height:28px;
    width: 300px;
    bottom:0px;
    background-color: #111111;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color:#AAAAAA;
        fill:#AAAAAA;
        &:hover {
            color:white;
            fill:white;
            .sponsor {
                transform: scale(1.1);
            }
        }
        .mat-icon {
            width:20px;
            height: 20px;
            margin:4px 8px 4px 0;
        }
    }
}
.spacer {
    height:32px;
}


/* UI */
.left-column-wrapper {
    width:300px;
    position: relative;
}
.left-column {
    width:100%;
    overflow:auto;
    background-color:#252526;
    height: calc(100% - 28px);
}
.left-column-close, .left-column-open {
    position: absolute;
    height: 52px;
    top:8px;
    border-radius: 0;
    min-width:16px;
    padding:0;
    margin:0;
    z-index:10;
    .mat-icon {
        margin:0;
        width:28px;
        height:28px;
        font-size:28px;
    }
}
.left-column-close {
    right:-28px;
}
.left-column-open {
    left:0;
}
.left-column, textarea {
    scrollbar-width: thin;
}

input.svg-value {
    width:38px;
    text-align: center;
    font-size: 10px;
    margin-left:1px;
    margin-right:1px;
    padding-left:1px;
    padding-right:1px;
}

.type-token {
    margin:0 1px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color:rgba(255, 128, 0, 0.5);
    color:#c8c8c8;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 2px 2px 0 0;
    border-color: #c8c8c8;
    cursor: pointer;
}
.type-token-relative {
    background-color:rgba(128, 0, 255, 0.5);
}
.row>.type-token {
    flex-shrink: 0;
}
div.hovered {
    background-color: #37373d;
}
div.dragged {
    background-color:#094771;
}

.path-buttons {
    display: flex;
    margin-top: 4px;
    width: 100%;
}
textarea {
    vertical-align: top;
}
.path-operations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.path-operations-grid4 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr;
}

/* Drawings */
.drawings {
    flex:1;
    align-self:stretch;
    position: relative;
    overflow:hidden;

    &:hover .add-button, .add-button.opened {
        display: flex;
    }
    .add-button {
        display: none;
        position: absolute;
    }

    .scene-top-actions {
        position: absolute;
        right: 12px;
        top: 12px;
        >button {
            margin-left:8px;
        }
        >.add-image-button {
            position: absolute;
            margin-left:24px;
            top:0;
            opacity: 0;
            transition: top 0.2s, opacity 0.2s;
            &.displayed {
                top:48px;
                opacity: 1;
            }
        }
    }

    .scene-bottom-actions {
        position: absolute;
        right: 12px;
        bottom: 12px;
        width:40px;
        >button {
            margin-top:8px;
        }
    }
}

@media screen and (max-width: 500px) {
    .left-column {
        width:100%;
    }
    .left-column-wrapper {
        width:100% !important;
        max-width:none !important;
    }
    .left-column-close {
        right:0;
        top: unset;
        bottom: 4px;
        padding:2px 6px;
    }
    .footer {
        width: 100%;
    }
}

label.cursor-position {
    position: absolute;
    font-size: 1.5em;
    font-family: monospace;
    bottom:16px;
    left:50%;
    transform: translateX(-50%);
    padding:4px 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color:#111111;
    border-radius: 4px;
}
