<div style="display:flex;flex-direction:row;height: 100%;" @leftColumnParent>
    <div *ngIf="isLeftPanelOpened" @leftColumn (@leftColumn.done)="refreshCanvasSize()" style="width:300px">
        <div class="left-column" cdk-scrollable>  
            <app-expandable panelTitle="Path" [opened]="true">
                <div class="row">
                    <div class="input-block" style="flex-grow:1"> 
                        <label class="opaque">Path</label>
                        <textarea
                            [ngModel]="rawPath"
                            (ngModelChange)="reloadPath($event, true)"
                            class="app-input"
                            style="height:100px;"
                            placeholder="Paste any SVG path here"
                        ></textarea>
                    </div>
                </div>
                <div style="text-align: center;">
                    <button mat-mini-fab
                        color="primary"
                        style="font-size: 1px; transform: none;"
                        [matMenuTriggerFor]="appCreate"
                        [matMenuTriggerData]="{item:null, idx:-1}"
                        matTooltip="Append new command"
                        matTooltipPosition="right"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>            
            </app-expandable>

            <app-expandable panelTitle="Configuration" [opened]="true">
                <div class="row">
                    <div class="input-block">
                        <label>X</label>
                        <input
                            class="app-input"
                            [ngModel]="viewPortX"
                            (ngModelChange)="updateViewPort($event, viewPortY, viewPortWidth, viewPortHeight)" 
                        >
                    </div>
                    <div class="input-block">
                        <label>Y</label>
                        <input
                            class="app-input"
                            [ngModel]="viewPortY"
                            (ngModelChange)="updateViewPort(viewPortX, $event, viewPortWidth, viewPortHeight)"
                        >
                    </div>
                    <div class="input-block">
                        <label>Width</label>
                        <input
                            class="app-input"
                            [ngModel]="viewPortWidth"
                            (ngModelChange)="updateViewPort(viewPortX, viewPortY, $event, null)" 
                        >
                    </div>
                    <div class="input-block">
                        <label>Height</label>
                        <input
                            class="app-input"
                            [ngModel]="viewPortHeight"
                            (ngModelChange)="updateViewPort(viewPortX, viewPortY, null, $event)"
                        >
                    </div>
                    <button
                        mat-flat-button
                        (click)="zoomAuto()"
                        matTooltip="Automatically set view port"
                        matTooltipPosition="right"
                    >AUTO</button>
                </div>
                <div class="row">
                    <div class="input-block" style="flex-grow: 1;"
                        matTooltip="Number of decimals to keep when a point is dragged"
                        matTooltipPosition="right"
                    >
                        <label>Decimals on mouse drag</label>
                        <input [(ngModel)]="decimals" class="app-input">
                    </div>
                </div>
                <div class="row">
                    <mat-checkbox [(ngModel)]="preview">Preview</mat-checkbox>
                </div>
                <div class="row tick-options">
                    <mat-checkbox [(ngModel)]="showTicks">Show Ticks</mat-checkbox>
                    <div class="input-block">
                        <label>Interval</label>
                        <input class="app-input" [(ngModel)]="tickInterval" >
                    </div>

                </div>

            </app-expandable>

            <app-expandable panelTitle="Path Operations" [opened]="true">
                <div class="row">
                    <div class="input-block" style="flex:1">
                        <label>Scale X</label>
                        <input
                            [(ngModel)]="scaleX"
                            class="app-input"
                        >
                    </div>
                    <div class="input-block" style="flex:1">
                        <label>Scale Y</label>
                        <input [(ngModel)]="scaleY" class="app-input">
                    </div>
                    <button
                        mat-flat-button
                        (click)="scale(scaleX, scaleY)"
                        style="flex:1"
                        matTooltip="Scale the full path with provided values"
                        matTooltipPosition="right"
                    >Scale</button>
                </div>

                <div class="row">
                    <div class="input-block" style="flex:1">
                        <label>Translate X</label>
                        <input [(ngModel)]="translateX" class="app-input">
                    </div>
                    <div class="input-block" style="flex:1">
                        <label>Translate Y</label>
                        <input [(ngModel)]="translateY" class="app-input">
                    </div>
                    <button
                        mat-flat-button
                        (click)="translate(translateX, translateY)"
                        style="flex:1"
                        matTooltip="Translate the full path with provided values"
                        matTooltipPosition="right"
                    >Translate</button>
                </div>
                
                <div class="row">
                    <div class="input-block" style="flex:2">
                        <label>Number of decimals</label>
                        <input [(ngModel)]="roundValuesDecimals" class="app-input">
                    </div>
                    <button
                        mat-flat-button 
                        (click)="roundValues(roundValuesDecimals)"
                        style="flex:1"
                        matTooltip="Round all values, input the number of decimals to keep"
                        matTooltipPosition="right"
                    >Round</button>
                </div>
                <div class="row">
                    <button mat-flat-button 
                        (click)="setRelative(true)"
                        matTooltip="Convert all commands to relative"
                        style="flex:1"
                    >Convert to relative</button>
                    <button mat-flat-button 
                        (click)="setRelative(false)"
                        matTooltip="Convert all commands to absolute"
                        style="flex:1"
                    >Convert to absolute</button>
                </div>
            </app-expandable>


            <app-expandable panelTitle="Commands" [opened]="true">
                <div *ngFor="let item of parsedPath.path; let j=index" 
                    (mouseenter)="hoveredItem=item"
                    (mouseleave)="hoveredItem=null"
                    [ngClass]="{
                        hovered:item===hoveredItem && !draggedPoint,
                        dragged:(draggedPoint && item===draggedPoint.itemReference) || (focusedItem === item)
                    }"
                    class="row"
                    style="padding-top:1px; padding-bottom:1px;"
                    (click)="focusedItem=item"
                >
                    <div
                        class="type-token"
                        [ngClass]="{'type-token-relative':item.relative}"
                        style="user-select: none;-webkit-user-select: none;"
                        (click)="item.setRelative(!item.relative); afertModelChange();"
                    >{{item.getType()}}</div>
                    <ng-container *ngFor="let value of item.values; let i = index; trackBy:trackByIndex">
                        <mat-checkbox *ngIf="item.getType().toLowerCase()==='a' && (i==3 || i==4)"
                            [ngModel]="value"
                            (ngModelChange)="setValue(item,i,$event?'1':'0');"
                            (focus)="focusedItem=item"
                            class="small-checkbox"
                            matTooltipClass="app-tooltip"
                            [matTooltip]="getTooltip(item, i)"
                        ></mat-checkbox>
                        <input *ngIf="!(item.getType().toLowerCase()==='a' && (i==3 || i==4))"
                            type="text"
                            [ngModel]="formatNumber(value)" 
                            (ngModelChange)="setValue(item,i,$event);"
                            class="svg-value app-input"
                            (focus)="focusedItem=item"
                            matTooltipClass="app-tooltip"
                            [matTooltip]="getTooltip(item, i)"
                        >
                    </ng-container>

                    <div style="flex:1"></div>
                    <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{item:item, idx:j}"
                    >
                        <mat-icon svgIcon="more"></mat-icon>
                    </button>
                </div>
            </app-expandable>
        </div>
    </div>
    <div style="flex:1; align-self:stretch;position: relative;overflow:hidden" class="drawings">
        <button mat-mini-fab *ngIf="(!draggedPoint && focusedItem && !preview) || parsedPath.path.length===0"
            color="primary"
            class="add-button"
            [ngStyle]="{
                'left': ((focusedItem ? focusedItem.targetLocation().x : 0)-viewPortX)/strokeWidth+'px',
                'top': ((focusedItem ? focusedItem.targetLocation().y : 0)-viewPortY)/strokeWidth+'px'
            }"
            [matMenuTriggerFor]="appCreate"
            [matMenuTriggerData]="{item:focusedItem, idx:-1}"
        >
            <mat-icon>add</mat-icon>
        </button>

        <button mat-raised-button
            style="position: absolute; left:0; top:8px; border-radius: 0; min-width:16px; padding:8px 2px"
            (click)="toggleLeftPanel()"
        >
            <mat-icon>{{isLeftPanelOpened?'arrow_left':'arrow_right'}}</mat-icon>
        </button>

        <svg [attr.viewBox]="viewPortX+' '+viewPortY+' '+viewPortWidth+' '+viewPortHeight"
            [ngClass]="{preview:preview}"
            xmlns="http://www.w3.org/2000/svg"
            (mousedown)="startDragCanvas($event);$event.stopPropagation()"
            (mousemove)="drag($event)"
            (mouseup)="stopDrag()"
            (touchstart)="startDragCanvas($event);$event.preventDefault();$event.stopPropagation()"
            (touchmove)="drag($event)"
            (touchend)="stopDrag()"
            (wheel)="wheel$.next($event);"
            (click)="hoveredItem=null;"
            #canvas
        >

            <ng-container *ngIf="strokeWidth" >
                <line
                    class="grid"
                    [attr.x1]="viewPortX"
                    [attr.y1]="0"
                    [attr.x2]="viewPortX + viewPortWidth"
                    [attr.y2]="0"
                    [attr.stroke-width]="4*strokeWidth"
                />
                <line
                    class="grid"
                    [attr.x1]="0"
                    [attr.y1]="viewPortY"
                    [attr.x2]="0"
                    [attr.y2]="viewPortY + viewPortHeight"
                    [attr.stroke-width]="4*strokeWidth"
                />
                <line *ngFor="let x of xGrid; trackBy:trackByIndex"
                    class="grid"
                    [ngClass]="{'tick': showTicks && x % tickInterval === 0 }"
                    [attr.x1]="x"
                    [attr.y1]="viewPortY"
                    [attr.x2]="x"
                    [attr.y2]="viewPortY + viewPortHeight"
                    [attr.stroke-width]="strokeWidth"
                />

                <ng-container *ngIf="!preview && showTicks">
                    <ng-container *ngFor="let y of yGrid; trackBy:trackByIndex">
                        <text class="tick" *ngIf="y % tickInterval ===  0" [attr.x]="-4*strokeWidth" [attr.y]="y - 4*strokeWidth" [ngStyle]="{'font-size': strokeWidth*14+'px'}" >{{ y }}</text>
                    </ng-container>

                    <ng-container *ngFor="let x of xGrid; trackBy:trackByIndex">
                        <text class="tick" *ngIf="x != 0 && x % tickInterval === 0" [attr.x]="x - 4*strokeWidth" [attr.y]="-4*strokeWidth" [ngStyle]="{'font-size': strokeWidth*14+'px'}">{{ x }}</text>
                    </ng-container>
                </ng-container>

                <line *ngFor="let y of yGrid; trackBy:trackByIndex"
                    class="grid"
                    [ngClass]="{'tick': showTicks && y % tickInterval === 0 }"
                    [attr.x1]="viewPortX"
                    [attr.y1]="y"
                    [attr.x2]="viewPortX + viewPortWidth"
                    [attr.y2]="y"
                    [attr.stroke-width]="strokeWidth"
                />
                <path
                    [attr.d]="parsedPath.asString()"
                    [attr.stroke-width]="strokeWidth"
                />


                <ng-container *ngFor="let loc of controlPoints; trackBy:trackByIndex">
                    <line *ngFor="let rel of loc.relations; trackBy:trackByIndex" 
                        class="control"
                        [attr.x1]="loc.x"
                        [attr.y1]="loc.y"
                        [attr.x2]="rel.x"
                        [attr.y2]="rel.y"
                        [attr.stroke-width]="strokeWidth"
                    />
                </ng-container>

                <path *ngIf="hoveredItem && !draggedPoint && !preview"
                    [attr.d]="hoveredItem.asStandaloneString()"
                    [attr.stroke-width]="strokeWidth"
                    class="hovered" />

                <path *ngIf="focusedItem  && !preview"
                    [attr.d]="focusedItem.asStandaloneString()"
                    [attr.stroke-width]="strokeWidth"
                    class="dragged"
                />

                <ng-container *ngFor="let loc of targetPoints; trackBy:trackByIndex">
                    <circle *ngIf="loc.movable"
                        class="target"
                        [attr.cx]="loc.x"
                        [attr.cy]="loc.y"
                        [attr.r]="3*strokeWidth"
                        (mousedown)="startDrag(loc);$event.stopPropagation()"
                        (touchstart)="startDrag(loc);$event.preventDefault();$event.stopPropagation()"
                        [attr.stroke-width]="12*strokeWidth"
                        (mouseenter)="hoveredItem=loc.itemReference; $event.stopPropagation()"
                        (mouseleave)="hoveredItem=null" 
                        [ngClass]="{
                            hovered:loc.itemReference===hoveredItem && !draggedPoint,
                            dragged:loc.itemReference===focusedItem
                        }"
                    />
                </ng-container>

                <ng-container *ngFor="let loc of controlPoints; trackBy:trackByIndex">
                    <circle *ngIf="loc.movable"
                        class="control"
                        [attr.cx]="loc.x"
                        [attr.cy]="loc.y"
                        [attr.r]="3*strokeWidth"
                        (mousedown)="startDrag(loc);$event.stopPropagation()"
                        (touchstart)="startDrag(loc);$event.preventDefault();$event.stopPropagation()"
                        [attr.stroke-width]="12*strokeWidth"
                        (mouseenter)="hoveredItem=loc.itemReference;  $event.stopPropagation();x(true,loc)"
                        (mouseleave)="hoveredItem=null;x(false,loc)" 
                        [ngClass]="{
                            hovered:loc.itemReference===hoveredItem && !draggedPoint,
                            dragged:loc.itemReference===focusedItem
                        }"
                    />
                </ng-container>
            </ng-container>
        </svg>
    </div>
</div>


<a *ngIf="isLeftPanelOpened"  class="footer" href="https://github.com/Yqnn/svg-path-editor" target="_blank">
    <mat-icon svgIcon="github"></mat-icon> Bug reports &amp; feedback
</a>

<mat-menu #appMenu="matMenu"  xPosition="before">
    <ng-template matMenuContent let-item="item"  let-idx="idx">
        <button mat-menu-item [matMenuTriggerFor]="appCreate" [matMenuTriggerData]="{item:item, idx:idx}">
            <mat-icon>add</mat-icon>
            Insert After
        </button>
        <button mat-menu-item [matMenuTriggerFor]="appCreate" [matMenuTriggerData]="{item:item, idx:idx, convert:true}">
            <mat-icon>swap_horiz</mat-icon>
            Convert To
        </button>
        <button mat-menu-item (click)="item.setRelative(!item.relative); afertModelChange();">
            <mat-icon>swap_horiz</mat-icon>
            <ng-container *ngIf="item.relative">Set Absolute</ng-container>
            <ng-container *ngIf="!item.relative">Set Relative</ng-container>
        </button>
        <button mat-menu-item (click)="delete(item)" [disabled]="!canDelete(item)">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </ng-template>
</mat-menu>


<mat-menu #appCreate="matMenu">
    <ng-template matMenuContent let-item="item"  let-idx="idx" let-convert="convert">
        <button mat-menu-item (click)="insert('M', item, convert)" [disabled]="convert?!canConvert(item,'M'):!canInsertAfter(item, 'M')"><strong>M</strong> Move to</button>
        <button mat-menu-item (click)="insert('L', item, convert)" [disabled]="convert?!canConvert(item,'L'):!canInsertAfter(item, 'L')"><strong>L</strong> Line to</button>
        <button mat-menu-item (click)="insert('V', item, convert)" [disabled]="convert?!canConvert(item,'V'):!canInsertAfter(item, 'V')"><strong>V</strong> Vertical Line to</button>
        <button mat-menu-item (click)="insert('H', item, convert)" [disabled]="convert?!canConvert(item,'H'):!canInsertAfter(item, 'H')"><strong>H</strong> Horizontal Line to</button>
        <button mat-menu-item (click)="insert('C', item, convert)" [disabled]="convert?!canConvert(item,'C'):!canInsertAfter(item, 'C')"><strong>C</strong> Curve to</button>
        <button mat-menu-item (click)="insert('S', item, convert)" [disabled]="convert?!canConvert(item,'S'):!canInsertAfter(item, 'S')"><strong>S</strong> Shorthand Curve to</button>
        <button mat-menu-item (click)="insert('Q', item, convert)" [disabled]="convert?!canConvert(item,'Q'):!canInsertAfter(item, 'Q')"><strong>Q</strong> Quadratic Bezier Curve to</button>
        <button mat-menu-item (click)="insert('T', item, convert)" [disabled]="convert?!canConvert(item,'T'):!canInsertAfter(item, 'T')"><strong>T</strong> Shorthand Quadratic Bezier Curve to</button>
        <button mat-menu-item (click)="insert('A', item, convert)" [disabled]="convert?!canConvert(item,'A'):!canInsertAfter(item, 'A')"><strong>A</strong> Elliptical Arc</button>
        <button mat-menu-item (click)="insert('Z', item, convert)" [disabled]="convert?!canConvert(item,'Z'):!canInsertAfter(item, 'Z')"><strong>Z</strong> Close Path</button>
    </ng-template>
  </mat-menu>