:host {
    display: block;
    height: 100%;
}

* {
    box-sizing: border-box;
}
.footer {
    text-decoration: none;
    position: fixed;
    left:0;
    height:28px;
    width: 300px;
    bottom:0px;
    background-color: #111111;
    color:#AAAAAA;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill:#AAAAAA;
    .mat-icon {
        width:20px;
        height: 20px;
        margin:4px 8px 4px 0;
    }
    &:hover {
        color:white;
        fill:white;
        text-decoration: underline;
    }
}


/* UI */
.left-column {
    width:300px;
    padding-bottom:32px;
    overflow:auto;
    background-color:#252526;
    height: calc(100% - 28px);
}

input.svg-value {
    width:38px;
    text-align: center;
    font-size: 10px;
    margin-left:1px;
    margin-right:1px;
    padding-left:1px;
    padding-right:1px;
}

.type-token {
    margin:0 1px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color:rgba(255, 128, 0, 0.5);
    color:#c8c8c8;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 2px 2px 0 0;
    border-color: #c8c8c8;
    cursor: pointer;
}
.type-token-relative {
    background-color:rgba(128, 0, 255, 0.5);
}
.row>.type-token {
    flex-shrink: 0;
}
div.hovered {
    background-color: #37373d;
}
div.dragged {
    background-color:#094771;
}




/* Drawings */
.drawings {
    &:hover .add-button, .add-button.opened {
        display: block;
    }
    .add-button {
        display: none;
        position: absolute;
        font-size: 1px;
    }
}