:host {
    background-color:#1e1e1e;
    user-select: none;
}
path {
    stroke:white;
    fill:none;
}
path.filled {
    fill:rgba(255,255,255,0.25);
}
path.hovered {
    stroke: red;
    fill: none;
}
path.dragged {
    stroke: rgb(0, 174, 255);
    fill: none;
}
line.grid {
    stroke:#353536;
}

line.grid.tick {
    stroke: #454545;
}

line.control {
    stroke:gray;
}
line.hovered {
    stroke:red;
}
circle {
    cursor: pointer;
    stroke: transparent;
}
circle.control {
    fill:gray;
}
circle.target {
    fill:white;
}
circle.hovered {
    fill:red;
}
circle.dragged {
    fill:rgb(0, 174, 255);
}
:host.preview {
    background-color:white;
}
:host.preview path {
    stroke:black;
}
:host.preview path.filled {
    fill:black;
    stroke:none;
}
:host.preview path.hovered {
    stroke: red;
    fill: none;
}
:host.preview circle,
:host.preview line {
    display: none;
}
text.tick {
    fill: #595959;
    text-anchor: end;
    /* Prevent accidental selection of axis markers on drag */
    cursor: default;
    user-select: none;
}




/* images */
image {
    pointer-events: none;
}
rect.image-control {
    fill: rgba(0,0,0,0);
    stroke: none;
}
line.image-control {
    stroke:gray;
}
circle.image-control {
    fill:gray;
}
.focused-image line.image-control {
    stroke:rgb(0, 174, 255);
}
.focused-image circle.image-control {
    fill:rgb(0, 174, 255);
}

.image-control.horizontal {
    cursor: ns-resize;
}
.image-control.vertical {
    cursor: ew-resize;
}
.image-control.down {
    cursor: nwse-resize;
}
.image-control.up {
    cursor: nesw-resize;
}
.image-control.move {
    cursor: move;
}
